
<li>@Html.ActionLink("Add New Car", "Add", "Car")</li>
<li>@Html.ActionLink("Show User cars", "GetUserCars", "SimpleNotUser")</li>
<li>@Html.ActionLink("New User", "NewSimpleUser", "SimpleNotUser")</li>