<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Race Mode</a>
    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 37px, 0px);">
        @Html.ActionLink("New Racing History", "NewRace", "Race", "", new {@class = "dropdown-item"})
        <a class="dropdown-item" href="#">Racing Histories</a>
        @*<div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>*@
    </div>
</li>

<li>@Html.ActionLink("Add New Car", "Add", "Car")</li>
<li>@Html.ActionLink("Show User cars", "GetUserCars", "SimpleNotUser")</li>
<li>@Html.ActionLink("New User", "NewSimpleUser", "SimpleNotUser")</li>